.header-img {
    width: 200px;
    height: 200px;
  }
  
  header {
    max-width: 100%;
    display: flex;
    align-items: center;

  }
  
  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

  
  nav {
    width: 100%;
  }
  